<!DOCTYPE html>
<html class="no-js">
    <head>
        <script src="js/lib/jquery-min.js"></script>
        <script src="js/lib/underscore-min.js"></script>
        <script src="js/lib/backbone-min.js"></script>
        <script src="js/lib/backbone.localStorage.js"></script>
        <script type="text/javascript" src="js/utility.js"></script>
        <script type="text/javascript" src="js/models/piece.js"></script>
        <script type="text/javascript" src="js/models/pieces/rook.js"></script>
        <script type="text/javascript" src="js/models/pieces/bishop.js"></script>
        <script type="text/javascript" src="js/models/pieces/king.js"></script>
        <script type="text/javascript" src="js/models/pieces/queen.js"></script>
        <script type="text/javascript" src="js/models/pieces/pawn.js"></script>
        <script type="text/javascript" src="js/models/pieces/knight.js"></script>
        <script type="text/javascript" src="js/models/square.js"></script>
        <script type="text/javascript" src="js/models/player.js"></script>
        <script type="text/javascript" src="js/models/move.js"></script>
        <script type="text/javascript" src="js/models/game.js"></script>
        <script type="text/javascript" src="js/collections/board.js"></script>
        <script type="text/javascript" src="js/collections/moves.js"></script>
        <script type="text/javascript" src="js/views/squareView.js"></script>
        <script type="text/javascript" src="js/views/boardView.js"></script>
        <script type="text/javascript" src="js/views/playerView.js"></script>
        <script type="text/javascript" src="js/views/movesView.js"></script>
        <script type="text/javascript" src="js/views/gameView.js"></script>

        <script src="js/main.js"></script>
        <script id="gameTemplate" type="text/html">
            <button id="new-game"><%= text %></button>
        </script>
        <script id="squareTemplate" type="text/html">
            <%= icon %>
        </script>
        <script id="playerTemplate" type="text/html">
            <%= name %>'s Turn
        </script>
        <script id="movesTemplate" type="text/html">
            <%= text %>
        </script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        <div id="game"></div>
    </body>

</html>
